body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #A50034; /* FC Barcelona color */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

#hero {
  background-image: url('../Img/HomePage/DSC_0010.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 300px 30px;
}

.btn {
  background-color: #FFD700; /* Button color */
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #A50034;
  color: white;
}