*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

header .logo img{
    width: 150px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search input{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}
.hero{
    background-image: url(./Images/z5957462010438_d48a47907a206a58340467ffa2f8dc6f.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-text h1 {
    font-size: 3rem;
}

.cta-button {
    background-color: #ff4742;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.featured-news {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}

.news-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news-cards .card {
    width: 30%;
    background-color: #f9f9f9;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.news-cards img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.social-links img {
    width: 30px;
    margin-right: 10px;
}