*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
}

/*Header*/
header{
    background-color: #333;
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    margin-left: 2rem;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/*Banner*/
.banner{
    background-color: url('./Images/DSC_0010.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner-text{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem 2rem;
}

/*Matches Section*/
#matches {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}

.matches-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Footer*/
footer{
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}